PS_PPS_Dev/PS_PPS_interface/etc/xml/schema/pdm/drugFile.xsd

<?xml version="1.0"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="gov/va/med/pharmacy/peps/external/common/vo/outbound/pdm/drug"
    xmlns="gov/va/med/pharmacy/peps/external/common/vo/outbound/pdm/drug"
    xmlns:common="gov/va/med/pharmacy/peps/external/common/vo/outbound/common"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import
        namespace="gov/va/med/pharmacy/peps/external/common/vo/outbound/common"
        schemaLocation="../common.xsd" />

    <xsd:complexType name="genericNameKey">
        <xsd:simpleContent>
            <xsd:restriction base="common:stringField">
                <xsd:minLength value="1" />
                <xsd:maxLength value="40" />

                <xsd:attribute
                    name="number"
                    type="common:fieldNumber"
                    use="required"
                    fixed="0.01" />
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="linkageIdKey">
        <xsd:simpleContent>
            <xsd:restriction base="common:stringField">
                <xsd:minLength value="1" />
                <xsd:maxLength value="20" />

                <xsd:attribute
                    name="number"
                    type="common:fieldNumber"
                    use="required"
                    fixed="99.99" />
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="drugFile">
        <xsd:sequence>
            <xsd:element
                name="candidateKey"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="genericName"
                            type="genericNameKey"
                            minOccurs="1"
                            maxOccurs="1" />

                        <xsd:element
                            name="linkageId"
                            type="linkageIdKey"
                            minOccurs="1"
                            maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="genericName"
                type="genericNameKey"
                minOccurs="0"
                maxOccurs="1" />

            <xsd:element
                name="vaClassification"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="5" />
                            <xsd:maxLength value="5" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="2" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="pharmacyOrderableItem"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="3" />
                            <xsd:maxLength value="40" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="2.1" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="deaSpecialHdlg"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="6" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="3" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="maximumDosePerDay"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:integerField">
                            <xsd:minInclusive value="0" />
                            <xsd:maxInclusive value="999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="4" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="fsn"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="5" />
                            <xsd:maxLength value="20" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="6" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <!-- Depends on Rx Consult File -->
            <xsd:element
                name="warningLabel"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="25" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="8" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="newWarningLabelListWarn"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="newWarningLabelListWarnFile"
                            type="newWarningLabelListWarnFile"
                            minOccurs="1"
                            maxOccurs="unbounded" />
                    </xsd:sequence>

                    <xsd:attribute
                        name="multiple"
                        type="xsd:boolean"
                        use="required"
                        fixed="true" />

                    <xsd:attribute
                        name="number"
                        type="common:fieldNumber"
                        use="required"
                        fixed="8.1" />
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="synonym"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="synonymFile"
                            type="synonymFile"
                            minOccurs="1"
                            maxOccurs="unbounded" />
                    </xsd:sequence>

                    <xsd:attribute
                        name="multiple"
                        type="xsd:boolean"
                        use="required"
                        fixed="true" />

                    <xsd:attribute
                        name="number"
                        type="common:fieldNumber"
                        use="required"
                        fixed="9" />
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="reorderLevel"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:integerField">
                            <xsd:minInclusive value="0" />
                            <xsd:maxInclusive value="9999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="11" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="orderUnit"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="12" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="pricePerOrderUnit"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:floatField">
                            <xsd:minInclusive value="0" />
                            <xsd:maxInclusive value="99999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="13" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="normalAmountToOrder"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:integerField">
                            <xsd:minInclusive value="0" />
                            <xsd:maxInclusive value="999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="14" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="dispenseUnit"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="10" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="14.5" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="dispenseUnitsPerOrderUnit"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:floatField">
                            <xsd:minInclusive value="1" />
                            <xsd:maxInclusive value="99999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="15" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="pricePerDispenseUnit"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:floatField">
                            <xsd:minInclusive value="0" />
                            <xsd:maxInclusive value="222" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="16" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="monitorMaxDays"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:integerField">
                            <xsd:minInclusive value="0" />
                            <xsd:maxInclusive value="999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="17.3" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="specimenType"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="17.4" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="monitorRoutine"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="3" />
                            <xsd:maxLength value="8" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="17.5" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="labMonitorMark"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="1" /><!-- Yes -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="17.6" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="opExternalDispense"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="1" /><!-- Yes -->
                            <xsd:enumeration value="0" /><!-- No -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="28" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="nationalFormularyIndicator"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="1" /><!-- Yes -->
                            <xsd:enumeration value="0" /><!-- No -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="29" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="ndc"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="12" />
                            <xsd:maxLength value="14" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="31" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="ndcByOutpatientSiteNdcop"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="ndcByOutpatientSiteNdcopFile"
                            type="ndcByOutpatientSiteNdcopFile"
                            minOccurs="1"
                            maxOccurs="unbounded" />
                    </xsd:sequence>

                    <xsd:attribute
                        name="multiple"
                        type="xsd:boolean"
                        use="required"
                        fixed="true" />

                    <xsd:attribute
                        name="number"
                        type="common:fieldNumber"
                        use="required"
                        fixed="32" />
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="drugTextEntry"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="drugTextEntryFile"
                            type="drugTextEntryFile"
                            minOccurs="1"
                            maxOccurs="unbounded" />
                    </xsd:sequence>

                    <xsd:attribute
                        name="multiple"
                        type="xsd:boolean"
                        use="required"
                        fixed="true" />

                    <xsd:attribute
                        name="number"
                        type="common:fieldNumber"
                        use="required"
                        fixed="37" />
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="actionProfileMessage"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="120" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="40" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="currentInventory"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:integerField">
                            <xsd:minInclusive value="-99999999" />
                            <xsd:maxInclusive value="99999999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="50" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="localNonFormulary"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="1" /><!-- true -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="51" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="dayOrDoseLimit"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <!-- 99D or 0L -->
                            <xsd:pattern value="\d{1,2}(D|L)" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="62.01" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="unitDoseScheduleType"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="OC" /><!-- On call -->
                            <xsd:enumeration value="O" /><!-- On time -->
                            <xsd:enumeration value="P" /><!-- PRN -->
                            <xsd:enumeration value="R" /><!-- Fill On Request -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="62.03" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="unitDoseSchedule"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="2" />
                            <xsd:maxLength value="70" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="62.04" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="correspondingOutpatientDrug"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="20" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="62.05" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="applicationPackagesUse"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="90" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="63" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="formularyAlternative"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="formularyAlternativeFile"
                            type="formularyAlternativeFile"
                            minOccurs="1"
                            maxOccurs="unbounded" />
                    </xsd:sequence>

                    <xsd:attribute
                        name="multiple"
                        type="xsd:boolean"
                        use="required"
                        fixed="true" />

                    <xsd:attribute
                        name="number"
                        type="common:fieldNumber"
                        use="required"
                        fixed="65" />
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="dawCode"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="81" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="ncpdpDispenseUnit"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="EA" />
                            <xsd:enumeration value="GM" />
                            <xsd:enumeration value="ML" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="82" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="ncpdpQuantityMultiplier"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:floatField">

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="83" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="linkageId"
                type="linkageIdKey"
                minOccurs="0"
                maxOccurs="1" />

            <xsd:element
                name="inactiveDate"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:dateField">

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="100" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="message"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="68" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="101" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="atcCanister"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="atcCanisterFile"
                            type="atcCanisterFile"
                            minOccurs="1"
                            maxOccurs="unbounded" />
                    </xsd:sequence>

                    <xsd:attribute
                        name="multiple"
                        type="xsd:boolean"
                        use="required"
                        fixed="true" />

                    <xsd:attribute
                        name="number"
                        type="common:fieldNumber"
                        use="required"
                        fixed="212" />
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="atcMnemonic"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="15" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="212.2" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="cmopDispense"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="1" /><!-- Yes -->
                            <xsd:enumeration value="0" /><!-- No -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="213" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="quantityDispenseMessage"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="68" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="215" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="inpatientPharmacyLocation"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="120" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="300" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="arWsAmisCategory"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="0" /><!-- Doses by type -->
                            <xsd:enumeration value="1" /><!-- Units of Issue -->
                            <xsd:enumeration value="2" /><!-- Fluids and Admin Sets -->
                            <xsd:enumeration value="3" /><!-- Blood Products -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="301" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="arWsAmisConversionNumber"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:integerField">
                            <xsd:minInclusive value="1" />
                            <xsd:maxInclusive value="9999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="302" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="ifcapItemNumber"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="ifcapItemNumberFile"
                            type="ifcapItemNumberFile"
                            minOccurs="1"
                            maxOccurs="unbounded" />
                    </xsd:sequence>

                    <xsd:attribute
                        name="multiple"
                        type="xsd:boolean"
                        use="required"
                        fixed="true" />

                    <xsd:attribute
                        name="number"
                        type="common:fieldNumber"
                        use="required"
                        fixed="441" />
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="strength"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="901" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="unit"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="902" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>


            <xsd:element
                name="possibleDosages"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="possibleDosagesFile"
                            type="possibleDosagesFile"
                            minOccurs="1"
                            maxOccurs="unbounded" />
                    </xsd:sequence>

                    <xsd:attribute
                        name="multiple"
                        type="xsd:boolean"
                        use="required"
                        fixed="true" />

                    <xsd:attribute
                        name="number"
                        type="common:fieldNumber"
                        use="required"
                        fixed="903" />
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="localPossibleDosage"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="localPossibleDosageFile"
                            type="localPossibleDosageFile"
                            minOccurs="1"
                            maxOccurs="unbounded" />
                    </xsd:sequence>

                    <xsd:attribute
                        name="multiple"
                        type="xsd:boolean"
                        use="required"
                        fixed="true" />

                    <xsd:attribute
                        name="number"
                        type="common:fieldNumber"
                        use="required"
                        fixed="904" />
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="correspondingInpatientDrug"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="20" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="905" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="action"
            type="common:itemAction"
            use="required" />

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50" />
    </xsd:complexType>

    <xsd:complexType name="newWarningLabelListWarnFile">
        <xsd:sequence>
            <xsd:element
                name="order"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:integerField">
                            <xsd:minInclusive value="1" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="type"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="V" /><!-- VA -->
                            <xsd:enumeration value="F" /><!-- FDB  -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:choice
                minOccurs="1"
                maxOccurs="1">
                <xsd:element name="name">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:restriction base="common:stringField">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="2000" />

                                <xsd:attribute
                                    name="number"
                                    type="common:fieldNumber"
                                    use="required"
                                    fixed="0" />
                            </xsd:restriction>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="text">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:restriction base="common:stringField">
                                <xsd:minLength value="1" />
                                <xsd:maxLength value="2000" />

                                <xsd:attribute
                                    name="number"
                                    type="common:fieldNumber"
                                    use="required"
                                    fixed="0" />
                            </xsd:restriction>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
            </xsd:choice>

        </xsd:sequence>

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="0" />
    </xsd:complexType>

    <xsd:complexType name="synonymFile">
        <xsd:sequence>
            <xsd:element
                name="synonym"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="40" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.01" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="intendedUse"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="0" /><!-- Trade Name  -->
                            <xsd:enumeration value="1" /><!-- Quick Code  -->
                            <xsd:enumeration value="D" /><!-- Drug Accountability  -->
                            <xsd:enumeration value="C" /><!-- Controlled Substances  -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="1" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="ndcCode"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="5" />
                            <xsd:maxLength value="20" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="2" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="vsn"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="30" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="400" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="orderUnit"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="2" />
                            <xsd:maxLength value="3" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="401" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="pricePerOrderUnit"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:floatField">
                            <xsd:minInclusive value="0" />
                            <xsd:maxInclusive value="999999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="402" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="dispenseUnitsPerOrderUnit"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:floatField">
                            <xsd:minInclusive value="1" />
                            <xsd:maxInclusive value="999999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="403" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="pricePerDispenseUnit"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:floatField">
                            <xsd:minInclusive value="0" />
                            <xsd:maxInclusive value="999999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="404" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="vendor"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="35" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="405" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.1" />
    </xsd:complexType>

    <xsd:complexType name="ndcByOutpatientSiteNdcopFile">
        <xsd:sequence>
            <xsd:element
                name="outpatientSite"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.01" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="lastLocalNdc"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="5" />
                            <xsd:maxLength value="15" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="1" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="lastCmopNdc"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="5" />
                            <xsd:maxLength value="15" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="2" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.032" />
    </xsd:complexType>

    <xsd:complexType name="drugTextEntryFile">
        <xsd:sequence>
            <xsd:element
                name="drugTextEntry"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.01" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.037" />
    </xsd:complexType>

    <xsd:complexType name="formularyAlternativeFile">
        <xsd:sequence>
            <xsd:element
                name="formularyAlternative"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="20" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.01" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.065" />
    </xsd:complexType>

    <xsd:complexType name="atcCanisterFile">
        <xsd:sequence>
            <xsd:element
                name="wardGroupForAtcCanister"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.01" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="atcCanister"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:integerField">
                            <xsd:minInclusive value="1" />
                            <xsd:maxInclusive value="800" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="1" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.0212" />
    </xsd:complexType>


    <xsd:complexType name="ifcapItemNumberFile">
        <xsd:sequence>
            <xsd:element
                name="itemNumber"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.01" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.0441" />
    </xsd:complexType>

    <xsd:complexType name="possibleDosagesFile">
        <xsd:sequence>
            <xsd:element
                name="dispenseUnitsPerDose"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:floatField">
                            <xsd:minInclusive value="0" />
                            <xsd:maxInclusive value="99999999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.01" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="dose"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:floatField">
                            <xsd:minInclusive value="0" />
                            <xsd:maxInclusive value="9999999999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="1" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="package"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="I" /><!-- Inpatient -->
                            <xsd:enumeration value="O" /><!-- Outpatient -->
                            <xsd:enumeration value="IO" /><!-- Both -->
                            <xsd:enumeration value="OI" /><!-- Both -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="2" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="bcmaUnitsPerDose"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:floatField">
                            <xsd:minInclusive value="1" />
                            <xsd:maxInclusive value="9999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="3" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.0903" />
    </xsd:complexType>

    <xsd:complexType name="localPossibleDosageFile">
        <xsd:sequence>
            <xsd:element
                name="localPossibleDosage"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="60" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.01" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="package"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="I" /><!-- Inpatient -->
                            <xsd:enumeration value="O" /><!-- Outpatient -->
                            <xsd:enumeration value="IO" /><!-- Both -->
                            <xsd:enumeration value="OI" /><!-- Both -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="1" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="bcmaUnitsPerDose"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:floatField">
                            <xsd:minInclusive value="1" />
                            <xsd:maxInclusive value="9999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="2" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="otherLanguageDosageName"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="60" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="3" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="doseUnit"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="4" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.0904" />
    </xsd:complexType>
</xsd:schema>
