PS_PPS_Dev/PS_PPS_interface/etc/xml/schema/pdm/pharmacyOrderableItemFile.xsd

<?xml version="1.0"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="gov/va/med/pharmacy/peps/external/common/vo/outbound/pdm/pharmacyOrderableItem"
    xmlns="gov/va/med/pharmacy/peps/external/common/vo/outbound/pdm/pharmacyOrderableItem"
    xmlns:common="gov/va/med/pharmacy/peps/external/common/vo/outbound/common"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import
        namespace="gov/va/med/pharmacy/peps/external/common/vo/outbound/common"
        schemaLocation="../common.xsd" />

    <xsd:complexType name="nameKey">
        <xsd:simpleContent>
            <xsd:restriction base="common:stringField">
                <xsd:minLength value="3" />
                <xsd:maxLength value="40" />

                <xsd:attribute
                    name="number"
                    type="common:fieldNumber"
                    use="required"
                    fixed="0.01" />
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="dosageFormKey">
        <xsd:simpleContent>
            <xsd:restriction base="common:stringField">
                <xsd:minLength value="3" />
                <xsd:maxLength value="30" />

                <xsd:attribute
                    name="number"
                    type="common:fieldNumber"
                    use="required"
                    fixed="0.02" />
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="pharmacyOrderableItemFile">
        <xsd:sequence>
            <xsd:element
                name="candidateKey"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="name"
                            type="nameKey"
                            minOccurs="1"
                            maxOccurs="1" />

                        <xsd:element
                            name="dosageForm"
                            type="dosageFormKey"
                            minOccurs="1"
                            maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="name"
                type="nameKey"
                minOccurs="0"
                maxOccurs="1" />

            <xsd:element
                name="dosageForm"
                type="dosageFormKey"
                minOccurs="0"
                maxOccurs="1" />

            <xsd:element
                name="ivFlag"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="1" /><!-- Yes -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.03" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="inactiveDate"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:dateField">

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.04" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="dayOrDoseLimit"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <!-- 99D or 0L -->
                            <xsd:pattern value="\d{1,2}(D|L)" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.05" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="medRoute"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="3" />
                            <xsd:maxLength value="45" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.06" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="scheduleType"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="OC" /><!-- On call -->
                            <xsd:enumeration value="O" /><!-- On time -->
                            <xsd:enumeration value="P" /><!-- PRN -->
                            <xsd:enumeration value="R" /><!-- Fill On Request -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.07" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="schedule"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="2" />
                            <xsd:maxLength value="20" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.08" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="supply"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="1" /><!-- Yes -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.09" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="synonym"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="synonymFile"
                            type="synonymFile"
                            minOccurs="1"
                            maxOccurs="unbounded" />
                    </xsd:sequence>

                    <xsd:attribute
                        name="multiple"
                        type="xsd:boolean"
                        use="required"
                        fixed="true" />

                    <xsd:attribute
                        name="number"
                        type="common:fieldNumber"
                        use="required"
                        fixed="2" />
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="formularyStatus"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="1" /><!-- Not on formulary list -->                            

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="5" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="oiDrugTextEntry"
                minOccurs="0"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="oiDrugTextEntryFile"
                            type="oiDrugTextEntryFile"
                            minOccurs="1"
                            maxOccurs="unbounded" />
                    </xsd:sequence>

                    <xsd:attribute
                        name="multiple"
                        type="xsd:boolean"
                        use="required"
                        fixed="true" />

                    <xsd:attribute
                        name="number"
                        type="common:fieldNumber"
                        use="required"
                        fixed="6" />
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="patientInstructions"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="240" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="7" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="otherLanguageInstructions"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="240" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="7.1" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="nonVaMed"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="1" /><!-- Yes -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="8" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="action"
            type="common:itemAction"
            use="required" />

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.7" />
    </xsd:complexType>

    <xsd:complexType name="synonymFile">
        <xsd:sequence>
            <xsd:element
                name="synonym"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="30" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.01" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.72" />
    </xsd:complexType>

    <xsd:complexType name="oiDrugTextEntryFile">
        <xsd:sequence>
            <xsd:element
                name="oiDrugTextEntry"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="40" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.01" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.76" />
    </xsd:complexType>
</xsd:schema>
