PS_PPS_Dev/PS_PPS_interface/etc/xml/schema/ndf/vaProductFile.xsd

<?xml version="1.0"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="gov/va/med/pharmacy/peps/external/common/vo/outbound/ndf/vaProduct"
    xmlns="gov/va/med/pharmacy/peps/external/common/vo/outbound/ndf/vaProduct"
    xmlns:common="gov/va/med/pharmacy/peps/external/common/vo/outbound/common"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import
        namespace="gov/va/med/pharmacy/peps/external/common/vo/outbound/common"
        schemaLocation="../common.xsd" />

    <xsd:complexType name="nameKey">
        <xsd:simpleContent>
            <xsd:restriction base="common:stringField">
                <xsd:minLength value="3" />
                <xsd:maxLength value="64" />

                <xsd:attribute
                    name="number"
                    type="common:fieldNumber"
                    use="required"
                    fixed="0.01" />
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="vuidKey">
        <xsd:simpleContent>
            <xsd:restriction base="common:stringField">
                <xsd:minLength value="1" />
                <xsd:maxLength value="20" />

                <xsd:attribute
                    name="number"
                    type="common:fieldNumber"
                    use="required"
                    fixed="99.99" />
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="vaProductFile">
        <xsd:sequence>
            <xsd:element
                name="candidateKey"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="name"
                            type="nameKey"
                            minOccurs="1"
                            maxOccurs="1" />

                        <xsd:element
                            name="vuid"
                            type="vuidKey"
                            minOccurs="1"
                            maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="name"
                type="nameKey"
                minOccurs="0"
                maxOccurs="1" />

            <xsd:element
                name="vaGenericName"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="3" />
                            <xsd:maxLength value="64" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.05" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="dosageForm"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="3" />
                            <xsd:maxLength value="30" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="1" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="strength"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="45" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="2" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="units"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="75" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="3" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="nationalFormularyName"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="94" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="4" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="vaPrintName"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="40" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="5" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="vaProductIdentifier"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="5" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="6" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="transmitToCmop"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="1" /><!-- Yes -->
                            <xsd:enumeration value="0" /><!-- No -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="7" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="vaDispenseUnit"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="10" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="8" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="gcnSequenceNumber"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:integerField">
                            <xsd:minInclusive value="0" />
                            <xsd:maxInclusive value="999999999" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="11" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="activeIngredients"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="activeIngredientsFile"
                            type="activeIngredientsFile"
                            minOccurs="1"
                            maxOccurs="unbounded" />
                    </xsd:sequence>

                    <xsd:attribute
                        name="multiple"
                        type="xsd:boolean"
                        use="required"
                        fixed="true" />

                    <xsd:attribute
                        name="number"
                        type="common:fieldNumber"
                        use="required"
                        fixed="14" />
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="primaryVaDrugClass"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="5" />
                            <xsd:maxLength value="5" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="15" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="nationalFormularyIndicator"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="1" /><!-- Yes -->
                            <xsd:enumeration value="0" /><!-- No -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="17" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="csFederalSchedule"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="0" /><!-- Unscheduled -->
                            <xsd:enumeration value="1" /><!-- Schedule I -->
                            <xsd:enumeration value="2" /><!-- Schedule II -->
                            <xsd:enumeration value="2n" /><!-- Schedule II Non-Narcotics -->
                            <xsd:enumeration value="3" /><!-- Schedule III -->
                            <xsd:enumeration value="3n" /><!-- Schedule III Non-Narcotics -->
                            <xsd:enumeration value="4" /><!-- Schedule IV -->
                            <xsd:enumeration value="5" /><!-- Schedule V -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="19" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="singleMultiSourceProduct"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="M" /><!-- Multi-source -->
                            <xsd:enumeration value="S" /><!-- Single-source -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="20" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="inactivationDate"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:dateField">

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="21" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="overrideDfDoseCheckExclusion"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:enumeration value="1" /><!-- Yes -->
                            <xsd:enumeration value="0" /><!-- No -->

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="31" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="effectiveDateTime"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="common:abstractEffectiveDateTimeField">
                            <xsd:sequence>
                                <xsd:element
                                    name="effectiveDateTimeFile"
                                    minOccurs="1"
                                    maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:complexContent>
                                            <xsd:extension base="common:abstractEffectiveDateTimeFile">
                                                <xsd:attribute
                                                    name="number"
                                                    type="common:fileNumber"
                                                    use="required"
                                                    fixed="50.6899" />
                                            </xsd:extension>
                                        </xsd:complexContent>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="vuid"
                type="vuidKey"
                minOccurs="0"
                maxOccurs="1" />

            <xsd:element
                name="serviceCode"
                minOccurs="0"
                maxOccurs="1"
                nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="20" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="2000" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="action"
            type="common:itemAction"
            use="required" />

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.68" />
    </xsd:complexType>

    <xsd:complexType name="activeIngredientsFile">
        <xsd:sequence>
            <xsd:element
                name="activeIngredient"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="3" />
                            <xsd:maxLength value="64" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="0.01" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="strength"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="45" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="1" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element
                name="unit"
                minOccurs="1"
                maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="common:stringField">
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="75" />

                            <xsd:attribute
                                name="number"
                                type="common:fieldNumber"
                                use="required"
                                fixed="2" />
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute
            name="number"
            type="common:fileNumber"
            use="required"
            fixed="50.6814" />
    </xsd:complexType>
</xsd:schema>
