PS_PPS_Dev/PS_PPS_ui/web/WEB-INF/kaajeeConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Kyle Clarke (Department of Veterans Affairs) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="computing-facility-divisions">
		<xs:complexType>
			<xs:attribute name="retrieve" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="host-application-name" type="xs:string"/>
	<xs:element name="kaajee-config">
		<xs:complexType>
			<xs:all>
				<xs:element ref="host-application-name" minOccurs="0"/>
				<xs:element ref="login-station-numbers"/>
				<xs:element ref="context-root-name" minOccurs="0"/>
				<xs:element ref="system-announcement" minOccurs="0"/>
				<xs:element ref="user-new-person-divisions" minOccurs="0"/>
				<xs:element ref="computing-facility-divisions" minOccurs="0"/>
				<xs:element ref="cactus-insecure-mode" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="login-station-numbers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="station-number" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="station-number" type="xs:string"/>
	<xs:element name="system-announcement" type="xs:string"/>
	<xs:element name="user-new-person-divisions">
		<xs:complexType>
			<xs:attribute name="retrieve" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cactus-insecure-mode"/>
	<xs:element name="context-root-name"/>
</xs:schema>


